  .dailyTime{
    float:left;
    width:180;
  }
  #timeline{
    float: left;
    width:180;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 10px;
  }

  #passengers{
    float: left;
    width:180;
  }

   #distance{
    float: left;
    width:180;
  }

   #time{
    float: left;
    width:180;
  }




  .dailyTimeAgain{
    float: left;
    width:200;
    clear:left;
  }



  #emissions{
  	float:left;
  	width:200;
    padding-top: 100px;
    padding-bottom:20px;
    padding-left: 30px;
  }

  .legendLabel{ 
  	font: 9px Open Sans, sans-serif;

  }


  #outsideEmissions{
  	float:left;
  	width:200;
    padding-top: 100px;
    padding-bottom:20px;
    padding-left: 30px;
  }

  #totalEmissions{
  	float:left;
  	width:200;
    padding-top: 100px;
    padding-bottom:20px;
    padding-left: 30px;
  }


 #weeklyCarbonCost{
 	  padding-top:100px;
    float: left;
    width:200;
    clear:left;
  }

  #weeklyTravelTime{
  	padding-top: 60px;
    padding-left: 20px;
    float: left;
    width:200;
  }

  #weeklyTravelDistance{
    padding-top: 60px;
    padding-left: 20px;
    float: left;
    width:200;
  }  

  #weeklyTravelEmissions{
    padding-top: 60px;
    padding-left: 20px;
    float: left;
    width:200;
  }